<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jintu.safecampus.dal.dao.AlarmInfoMapper">

    <select id="findAlarmInfoList"
            resultType="com.jintu.ipcdp.framework.model.safecampus.dto.response.find.FindAlarmInfoListResponseDTO">
        select a.id,a.alarm_time,a.alarm_type,a.alarm_description
        from alarm_info as a
        where a.deleted = 0
        <if test="dto.unitInfoId != null">
            and a.unit_info_id = #{dto.unitInfoId}
        </if>
    </select>
</mapper>
