<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jintu.safecampus.dal.dao.AppVersionMapper">

    <select id="findAppVersionList"
            resultType="com.jintu.ipcdp.framework.model.safecampus.dto.response.find.FindAppVersionListResponseDTO">
        select a.id,a.version_file,a.version_number,a.release_notes,a.created_time
        from app_version as a
        where a.deleted = 0
        <if test="dto.versionNumber != null ">
            and a.version_number like CONCAT(#{dto.versionNumber},'%')
        </if>
        <if test="dto.createdTime != null">
            and DATE(a.created_time) = #{dto.createdTime}
        </if>
    </select>
</mapper>
