<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jintu.safecampus.dal.dao.NursingPostPersonMapper">

    <select id="findNursingPostPersonList"
            resultType="com.jintu.ipcdp.framework.model.safecampus.dto.response.find.FindNursingPostPersonListResponseDTO">
        select a.id,a.unit_info_id,a.person_name,a.person_type,a.user_name,a.pass_word,a.device_no,a.access_address,a.wear_mark
        from nursing_post_person as a
        where a.deleted = 0
            and a.unit_info_id = #{dto.unitInfoId}
    </select>
    <select id="findNursingPostPersonLists"
            resultType="com.jintu.ipcdp.framework.model.safecampus.dto.response.find.FindShiftSettingDTO">
        select a.id,a.person_name,a.person_type
        from nursing_post_person as a
        where a.deleted = 0
            and a.unit_info_id = #{unitInfoId}
            and a.person_type = #{personType}
    </select>
    <select id="findNursingPostPersonUnWorkRecord"
            resultType="com.jintu.ipcdp.framework.model.safecampus.dto.response.find.NursingPostPersonUnWorkRecordResponseDTO">
        SELECT
        wl.`working_date`,npt.`time_name`,npt.`starting_time`,npt.`end_time`, u.`point_name`
        FROM
        nursing_post_person_work_record n,
        watch_list wl,
        nursing_post_time npt,
        unit_point u
        WHERE
        n.`watch_list_id`=wl.`id`
        AND
        wl.`nursing_post_time_id`=npt.`id`
        AND
        wl.`unit_point_id`=u.`id`
        AND
        n.`record_type`=2
        AND n.`deleted`=0
        AND wl.`deleted`=0
        AND npt.`deleted`=0
        AND u.`deleted`=0
        AND n.`nursing_post_person_id`=#{requestDTO.nursingPostPersonId}
    </select>
</mapper>
