<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jintu.safecampus.dal.dao.NursingPostPersonMapper">

    <select id="findNursingPostPersonList"
            resultType="com.jintu.ipcdp.framework.model.safecampus.dto.response.find.FindNursingPostPersonListResponseDTO">
        select a.id,a.unit_info_id,a.person_name,a.person_type,a.user_name,a.pass_word,a.device_no,a.access_address,a.wear_mark
        from nursing_post_person as a
        where a.deleted = 0
            and a.unit_info_id = #{dto.unitInfoId}
    </select>
</mapper>
