<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jintu.safecampus.dal.dao.UnitCameraListMapper">
    <select id="findUnitCameraList"
        resultType="com.jintu.ipcdp.framework.model.safecampus.dto.response.find.FindUnitCameraListResponseDTO"    >
        SELECT u.`id`,u.`camera_name`,u.`camera_type`,u.`longitude`,u.`latitude`,u.`threshold`
        FROM unit_camera_list u
        WHERE u.`deleted`=0
        AND u.`unit_info_id`= #{requestDTO.unitInfoId}
    </select>
</mapper>
